<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Качество</title>
    <link href="https://fonts.googleapis.com/css2?family=Volkorn&display=swap" rel="stylesheet">
    <style>
           body {
            margin: 0;
            font-family: Volkorn', serif;
            color: white;
            min-height: 100vh;
            /* ВОТ ЭТА СТРОЧКА — ПУТЬ К КАРТИНКЕ */
            background-image: url('static/background.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            /* Размытие фона */
            backdrop-filter: blur(8px);
        }

        h1 {
            font-size: 4em;
            margin-bottom: 10px;
            color: #deca8f;
        }
